<form action="/query" method="POST">
  <label>
    <p>Gender:</p>
    <input name="gender" type="text" placeholder="M" required="required">
  </label>
  <label>
    <p>Highest education:</p>
    <input name="highest_education" type="text" placeholder="A Level or Equivalent" required="required">
  </label>
  <label>
    <p>IMD Band:</p>
    <input name="imd_band" type="text" placeholder="0-10%" required="required">
  </label>
  <label>
    <p>Age Band:</p>
    <input name="age_band" type="text" placeholder="0-35" required="required">
  </label>
  <label>
    <p>Disability:</p>
    <input name="disability" type="text" placeholder="N" required="required">
  </label>
  <input type="Submit">
</form>
